<!-- Adapted from
http://www.austintaylor.io/d3/python/pandas/2016/02/01/create-d3-chart-python-force-directed/
-->
{% if site.debug == true %}
  <script src="http://d3js.org/d3.v5.js"></script>
{% else %}
  <script src="http://d3js.org/d3.v5.min.js"></script>
{% endif %}

<style>
  .node {
    stroke: #444d56;
    stroke-width: 4px;
    fill: #24292e;
  }

  .link {
    fill: none;
    stroke: #444d56;
    stroke-weight: 2px;
    stroke-opacity: 0.5;
  }

  text {
    stroke: #444d56;
  }

  svg {
    z-index: -1;
  }

  @media (min-width: 768px) {
    .bottom-md-0 {
      bottom: 0px;
    }

    .top-md-unset {
      /* .top-0 uses !important */
      top: unset !important;
    }
  }
</style>

<!-- The graph does not meet WCAG color contrast guidelines. However, it is also
decorative and adds no relevant information to the page. -->
<div id="force"
  class="col-12 col-md-5 col-lg-4 col-xl-3 position-absolute top-0 left-0
  bottom-md-0 top-md-unset" aria-hidden="true">
</div>

<script>
  var width;
  var height;
  var orderingDirection = 1;
  var hardEdgeDirection = "bottom";
  var layout;
  var margin = 48;
  var pad = margin / 2;

  function onResize() {
    var container = document.querySelector("aside div");
    width = container.parentElement.clientWidth;
    height = window.innerWidth >= 768 ? 500 : container.clientHeight;
    orderingDirection = window.innerWidth >= 768 ? -1 : 1;
    hardEdgeDirection = window.innerWidth >= 768 ? "top" : "bottom";
    layout &&
      layout.force("gravity-x", d3.forceX((width - margin) / 2).strength(0.125))
        .force("gravity-y", d3.forceY((height - margin) / 2).strength(0.125))
        .alpha(1)
        .restart();
  }

  function drawGraph(graph) {
    var svg = d3.select("#force").append("svg")
      .attr("width", "100%")
      .attr("height", height);
    // draw plot background
    svg.append("rect")
      .attr("width", "100%")
      .attr("height", height)
      .style("fill", "rgba(0,0,0,0)");
    // create an area within svg for plotting graph
    var plot = svg.append("g")
      .attr("id", "plot");
    layout = d3.forceSimulation()
      .nodes(graph.nodes)
      .alphaDecay(1 - Math.pow(0.001, 1 / 500))
      .force("charge", d3.forceManyBody().strength(-640))
      .force("links", d3.forceLink(graph.links).distance(75))
      .force("linearization", linearizationForce)
      .force("ordering", orderingForce)
      .force("hard-edge-constraint", hardEdgeConstraint)
      .force("gravity-x", d3.forceX((width - margin) / 2).strength(0.125))
      .force("gravity-y", d3.forceY((height - margin) / 2).strength(0.125))
      .restart();
    drawLinks(graph.links);
    drawNodes(graph.nodes);
    // add ability to drag and update layout
    d3.selectAll(".node")
      .call(d3.drag()
        .on("start", dragStart)
        .on("drag", drag)
        .on("end", dragEnd));
    d3.selectAll("text")
      .call(d3.drag()
        .on("start", dragStart)
        .on("drag", drag)
        .on("end", dragEnd));
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-on
    layout.on("tick", function() {
      d3.selectAll(".link")
        .attr("x1", function(d) {
          return d.source.x;
        })
        .attr("y1", function(d) {
          return d.source.y;
        })
        .attr("x2", function(d) {
          return d.target.x;
        })
        .attr("y2", function(d) {
          return d.target.y;
        });
      d3.selectAll(".node")
        .attr("cx", function(d) {
          return d.x;
        })
        .attr("cy", function(d) {
          return d.y;
        });
      d3.selectAll("text")
        .attr("x", function(d) {
          return d.x;
        })
        .attr("y", function(d) {
          return d.y;
        });
    });
  }

  // Called when a node starts being dragged
  function dragStart(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  // Called while a node is dragged
  function drag(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
    layout.restart();
  }

  // Called when a node stops being dragged
  function dragEnd(d) {
    d.x = d.fx;
    d.y = d.fy;
    d.fx = d.fy = null;
    layout.alpha(1); // must reset alpha to have simulation settle again
    layout.restart();
  }

  // Apply force to nodes to arrange them in a line from top-right to
  // bottom-left
  function linearizationForce(alpha) {
    layout.nodes().forEach(function(node) {
      var strength = 6.4 * alpha;
      var measureFromDiagonal = node.x + node.y - width;
      // ----- reduce jittering along the diagonal
      var threshold = 80;
      if (Math.abs(measureFromDiagonal) < threshold) {
        return;
      }
      var force = strength * (-measureFromDiagonal / 150);
      // -----
      node.vx += force;
      node.vy += force;
    });
  }

  // Apply ordering force to arrange numbers from near hailstone sequence tree
  // root (1) at top to leaves at bottom. Order reverses in wider layouts
  // (>=768px).
  function orderingForce(alpha) {
    layout.nodes().forEach(function(node) {
      var strength = 12.8 * alpha;
      var diff = node.index - layout.nodes().length / 2;
      if (diff < 0) {
        node.vy -= orderingDirection * strength;
        return;
      }
      node.vy += orderingDirection * strength;
    });
  }

  // Prevent nodes from being clipped at the bottom edge because users will
  // notice (top edge when screen width >= 768px)
  function hardEdgeConstraint(alpha) {
    layout.nodes().forEach(function(node) {
      var adjustment = 48;
      if (hardEdgeDirection === 'bottom' && node.y + 24 >= height - margin) {
        node.y = height - margin - 24;
        return;
      }
      if (hardEdgeDirection === 'top' && node.y - 24 <= margin) {
        node.y = 24 + margin;
      }
    });
  }

  // Draws nodes on plot
  function drawNodes(nodes) {
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-nodes
    var g = d3.select("#plot").selectAll(".node")
      .data(nodes)
      .enter()
      .append("g");
    g.append("circle")
      .attr("class", "node")
      .attr("id", function(d, i) {
        return d.name;
      })
      .attr("cx", function(d, i) {
        return d.x;
      })
      .attr("cy", function(d, i) {
        return d.y;
      })
      .attr("r", function(d, i) {
        return 24;
      })
    g.append("text").text(function(d, i) {
        return d.name;
      })
      .attr("x", function(d, i) {
        return d.x;
      })
      .attr("y", function(d, i) {
        return d.y;
      })
      .attr("text-anchor", "middle")
      .attr("dominant-baseline", "central");
  }

  // Draws edges between nodes
  function drawLinks(links) {
    d3.select("#plot").selectAll(".link")
      .data(links)
      .enter()
      .append("line")
      .attr("class", "link")
      .attr("x1", function(d) {
        return d.source.x;
      })
      .attr("y1", function(d) {
        return d.source.y;
      })
      .attr("x2", function(d) {
        return d.target.x;
      })
      .attr("y2", function(d) {
        return d.target.y;
      })
      .style("stroke-dasharray", function(d, i) {
        return (d.value <= 1) ? "2, 2" : "none";
      });
  }

  window.addEventListener("resize", onResize);
  onResize();
  d3.json("assets/collatz.json").then(drawGraph);
</script>
