<!--
Adapted from http://www.austintaylor.io/d3/python/pandas/2016/02/01/create-d3-chart-python-force-directed/
-->
<!-- JavaScript Libraries //-->
<script src="http://d3js.org/d3.v3.min.js"></script>

<!-- CSS Style //-->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900|Source+Code+Pro:300" rel="stylesheet" type="text/css">
<style>
  /* body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  b {
    font-weight: 900;
  }

  .outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
  }

  #tooltip {
    font-size: 10pt;
    font-weight: 900;

    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
  } */

  .node {
    stroke: #444d56;
    stroke-width: 4px;
    fill: #24292e;
  }

  .link {
    fill: none;
    stroke: #444d56;
    stroke-weight: 2px;
    stroke-opacity: 0.5;
  }

  /* .highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
  } */

  text {
    stroke: #444d56;
  }

  svg {
    z-index: -1;
  }

  @media (min-width: 768px) {
    .bottom-md-0 {
      bottom: 0px;
    }

    #force {
      top: unset !important;
    }
  }
</style>

<!-- <div class="position-relative top-0 left-0"> -->
<div id="force" class="col-12 col-md-5 col-lg-4 col-xl-3 position-absolute top-0 left-0 bottom-md-0"></div>
<!-- </div> -->

<script>
  var width;
  var height;
  function onResize() {
    width = document.querySelector("#force").clientWidth;
    height = window.innerWidth >= 768 ? 500 : document.querySelector("aside div").clientHeight;
    layout && layout.size([width - margin, height - margin]).start();
  }

  window.addEventListener("resize", onResize);
  onResize();

  var margin = 48;
  var pad = margin / 2;
  var color = d3.scale.category20();
  var vis = d3.select("#chart")
    .append("svg:svg")
    .attr("width", "100%")
    .attr("height", height)
    .attr("pointer-events", "all")
    .append('svg:g')
    .call(d3.behavior.zoom().on("zoom", redraw))
    .append('svg:g');
  vis.append('svg:rect')
    .attr('width', "100%")
    .attr('height', height)
    .attr('fill', 'white');

  function redraw() {
    console.log("here", d3.event.translate, d3.event.scale);
    vis.attr("transform",
      "translate(" + d3.event.translate + ")" +
      " scale(" + d3.event.scale + ")");
  }

  var layout;
  function drawGraph(graph) {
    var svg = d3.select("#force").append("svg")
      .attr("width", "100%")
      .attr("height", height);
    // draw plot background
    svg.append("rect")
      .attr("width", "100%")
      .attr("height", height)
      .style("fill", "rgba(0,0,0,0)");
    // create an area within svg for plotting graph
    var plot = svg.append("g")
      .attr("id", "plot")
      .attr("transform", "translate(" + (0) + ", " + (0) + ")");
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-force
    console.log(graph);
    layout = d3.layout.force()
      .size([width - margin, height - margin])
      .charge(-640)
      .linkDistance(function(d, i) {
        return 75;
      })
      .gravity(0.125)
      .nodes(graph.nodes)
      .links(graph.links)
      .start();
    console.log(layout);
    drawLinks(graph.links);
    drawNodes(graph.nodes);
    // add ability to drag and update layout
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-drag
    d3.selectAll(".node").call(layout.drag);
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-on
    layout.on("tick", function() {
      d3.selectAll(".link")
        .attr("x1", function(d) {
          return d.source.x;
        })
        .attr("y1", function(d) {
          return d.source.y;
        })
        .attr("x2", function(d) {
          return d.target.x;
        })
        .attr("y2", function(d) {
          return d.target.y;
        });
      d3.selectAll(".node")
        .attr("cx", function(d) {
          return d.x;
        })
        .attr("cy", function(d) {
          return d.y;
        });
      d3.selectAll("text")
        .attr("x", function(d) {
          return d.x;
        })
        .attr("y", function(d) {
          return d.y;
        });
    });
  }

  // Draws nodes on plot
  function drawNodes(nodes) {
    // used to assign nodes color by group
    var color = d3.scale.category20();
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-nodes
    var g = d3.select("#plot").selectAll(".node")
      .data(nodes)
      .enter()
      .append("g");
    g.append("circle")
      .attr("class", "node")
      .attr("id", function(d, i) {
        return d.name;
      })
      .attr("cx", function(d, i) {
        return d.x;
      })
      .attr("cy", function(d, i) {
        return d.y;
      })
      .attr("r", function(d, i) {
        return 24;
      })
    g.append("text").text(function(d, i) {
        return d.name;
      })
      .attr("x", function(d, i) {
        return d.x;
      })
      .attr("y", function(d, i) {
        return d.y;
      })
      .attr("text-anchor", "middle")
      .attr("dominant-baseline", "central");
  }
  // Draws edges between nodes
  function drawLinks(links) {
    var scale = d3.scale.linear()
      .domain(d3.extent(links, function(d, i) {
        return d.value;
      }))
      .range([1, 6]);
    // https://github.com/mbostock/d3/wiki/Force-Layout#wiki-links
    d3.select("#plot").selectAll(".link")
      .data(links)
      .enter()
      .append("line")
      .attr("class", "link")
      .attr("x1", function(d) {
        return d.source.x;
      })
      .attr("y1", function(d) {
        return d.source.y;
      })
      .attr("x2", function(d) {
        return d.target.x;
      })
      .attr("y2", function(d) {
        return d.target.y;
      })
      .style("stroke-width", function(d, i) {
        return scale(d.value) + "px";
      })
      .style("stroke-dasharray", function(d, i) {
        return (d.value <= 1) ? "2, 2" : "none";
      });
  }
</script>



<script>
  d3.json("assets/collatz.json", drawGraph);
</script>