<!-- Adapted from
http://www.austintaylor.io/d3/python/pandas/2016/02/01/create-d3-chart-python-force-directed/
-->

<!-- The graph does not meet WCAG color contrast guidelines. However, it is also
decorative and adds no relevant information to the page. -->
<div id="force"
  class="col-12 col-md-5 col-lg-4 col-xl-3 position-absolute top-0 left-0
  bottom-md-0 top-md-unset" aria-hidden="true">
</div>

{% if site.debug == true %}
  <script src="https://d3js.org/d3.v5.js"></script>
{% else %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
{% endif %}
<script src="/assets/collatz.js"></script>
