<div class="height-full text-left {% if site.style == 'dark' %}box-shadow bg-gray-dark{% else %}border border-gray-light bg-white{% endif %} rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1 ">
      <a href="{{ site.baseurl }}{{ post.url }}" class="{% if site.style == 'dark' %}text-white link-hover-blue{% endif %}">
        {{ post.title }}
      </a>
    </h1>
  </div>
  <div class="{% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %} mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
</div>
