<div class="height-full text-left border-gray-light rounded-1 p-3 post-card">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1">
      <a href="{{ site.baseurl }}{{ post.url }}" class="link-hover-blue">
        {{ post.title }}
      </a>
    </h1>
  </div>
  <div class="mb-2 ws-normal">
    {{ post.date | date: "%b %d, %Y" }}
    {% if post.last_modified_at %}
      (Updated {{ post.last_modified_at | date: "%b %d, %Y" }})
    {% endif %}
  </div>
</div>
