.node {
  stroke: var(--collatz-stroke-color);
  stroke-width: 4px;
  fill: var(--sidebar-bg-color);
}

.link {
  fill: none;
  stroke: var(--collatz-stroke-color);
  stroke-width: 2px;
  stroke-opacity: 0.5;
}

text {
  stroke: var(--collatz-stroke-color);
}

#force svg {
  z-index: -1;
}
