.node {
  stroke: #444d56;
  stroke-width: 4px;
  fill: #24292e;
}

.link {
  fill: none;
  stroke: #444d56;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}

text {
  stroke: #444d56;
}

#force svg {
  z-index: -1;
}
