---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';
@import 'collatz';

$primer-bg-gray: #f6f8fa;

:root {
  {% if site.style == 'dark' %}
    --text-color: white;
    --sidebar-bg-color: #24292e;
    --collatz-stroke-color: #444d56;
    --sidebar-border-right: 0;
    --main-bg-color: #2f363d;
    --icon-color: #ffffff;
    --body-bg-color: #2f363d;
    --share-bg-color: #24292e;
    --share-border: 0;
    --github-component-bg-color: #24292e;
    --github-component-border: 0;
    --topic-image-bg-color: #f1f8ff;
    --post-card-bg-color: #24292e;
    --post-card-border: 0;
  {% else %}
    --text-color: black;
    --sidebar-bg-color: white;
    --collatz-stroke-color: #e1e4e8;
    --sidebar-border-right: 1px solid;
    --main-bg-color: #fafbfc;
    --icon-color: #24292e;
    --body-bg-color: white;
    --share-bg-color: white;
    --share-border: 1px #e1e4e8 solid;
    --github-component-bg-color: white;
    --github-component-border: 1px #e1e4e8 solid;
    --topic-image-bg-color: unset;
    --post-card-bg-color: white;
    --post-card-border: 1px #e1e4e8 solid;
  {% endif %}
  --collatz-node-fill-color: var(--sidebar-bg-color);
}

html * {
  color: var(--text-color);
}

aside {
  background: var(--sidebar-bg-color);
  @media (min-width: 768px) {
    border-right: var(--sidebar-border-right);
  }
}

.main-container, main {
  background: var(--main-bg-color);
}

.octicon {
  fill: var(--icon-color);
}

body {
  background: var(--body-bg-color);
}

.share-container {
  background: var(--share-bg-color);
  border: var(--share-border);
}

// If a user adds a custom font, this component will stop it from bleeding into
// GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  background: var(--github-component-bg-color);
  border: var(--github-component-border);
  img {
    background: var(--topic-image-bg-color);
  }
}

.post-card {
  background: var(--post-card-bg-color);
  border: var(--post-card-border);
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #c4c7ca;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.light-icon {
  fill: $primer-bg-gray;
}

.topic-img-size {
  width: 96px;
  height: 96px;
  line-height: 48px;
  padding: 24px;
}

// So that links look like links
a {
  text-decoration: underline;
}

.bg-gray-medium-dark {
  background-color: #2f363d !important;
}

.list-style-inside {
  list-style: inside;
}

// some extensions to Primer
.bg-transparent {
  background: transparent;
}

@media (min-width: 768px) {
  .bottom-md-0 {
    bottom: 0px;
  }

  .top-md-unset {
    /* .top-0 uses !important */
    top: unset !important;
  }
}
