/* Manipulate table background color so that background doesn't appear to go
   past border. It seems Primer React assumes that the background color of the
   table is the background color of the page. */

.Table {
  background-color: rgba(0, 0, 0, 0);
}

/* td is selected to take care of bottom border. */
.Table tbody td {
  background-color: var(--bgColor-default, var(--color-canvas-default));
}

/* I would follow the suggestion at
   https://primer.style/octicons/code/#fill-color to use inherited color, but
   there's other CSS interfering to the point that using the icon components'
   fill prop doesn't work. */

.octicon.octicon-circle-slash {
  fill: var(--fgColor-danger);
}

.octicon.octicon-alert-fill {
  fill: var(--fgColor-attention);
}
