---
name: home
---

{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center position-relative top-0 left-0">
    <aside>
      {% include masthead.html metadata=true %}
    </aside>

    <main role="main">
      <section>
        {{ content }}
      </section>

      <section class="my-6">
        {% include projects.html %}
      </section>

      {% if site.topics %}
        <section class="my-6">
          {% include interests.html %}
        </section>
      {% endif %}

      {% unless posts_total == 0 %}
        <section class="my-6">
          {% include thoughts.html %}
        </section>
      {% endunless %}
    </main>
  </div>
{% else %}
  <div class="d-md-flex min-height-full position-relative top-0 left-0 overflow-y-hidden">
    <aside class="flex-self-stretch
      border-gray-light col-md-5 col-lg-4 col-xl-3 px-4
      px-md-6 px-lg-7 py-6"
      role="complementary">
      {% include masthead.html metadata=true %}
    </aside>

    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top
      border-md-top-0 main-container">
      <main class="mx-auto" style="max-width: 900px;">
        {% unless content == ""  %}
          <section class="f4 mb-6">
            {{ content }}
          </section>
        {% endunless %}

        <section>{% include projects.html %}</section>

        {% if site.topics %}
          <section>{% include interests.html %}</section>
        {% endif %}

        {% unless posts_total == 0 %}
          <section>{% include thoughts.html %}</section>
        {% endunless %}
      </main>
    </div>
  </div>
{% endif %}

{% include footer.html %}
